@font-face{
    font-family: fonts1;
    src: url(fonts/SaturdayUse.ttf)
}
body{
    background-image: url(images/blue.jpg);
    background-size: 25%;
    background-color: #42f4e2;
    color: black;
}
h1{
    font-family: "fonts1";
}

#nav{
    list-style-type: none;
    margin: -8px;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
#nav li {
    float: left;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li a:hover {
    background-color: blue;
    color: red;
}
#nav li a:active{
    background-color: yellow;
    color:black;
}


#tom{
    list-style-type: none;
    margin: -8px;
    padding: 0;
    overflow: hidden;
    background-color: white;
    width: 150px;
}


#bits{
    border: solid red 3px;
    margin-left: 10px;
    margin-right:10px;
    text-align: center;
    padding: 15px;
    border-image-width: 100px;
}

#ua{
    border: solid black 3px;

}

table{
    border-top-style: dotted;
    border-right-style: dotted;
    border-bottom-style: dotted;
    border-left-style: dotted;
    border-color: blue;
}


table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}